@page
@using crmHuman.Pages
@model CandidateDetailModel
@{
    ViewData["Title"] = Model.TitlePage;
    var dataModel = Model.ResultData as dynamic;
    var basicInfo = dataModel.DataBasic;
    var documentInfo = dataModel.DocumentDetailInfo;
    var companyInfo = dataModel.CompanyInfo as dynamic;
    var dataAll = Model.DataLinhVuc as dynamic;


    var masterdataall = new List<Object>();

    foreach (var item in dataAll)
    {
        var itemXacThuc = item as dynamic;

        masterdataall.Add(new
        {
            id =  item.Id,
            text = item.Text

        });
    }
}
<div class="pagetitle">
    <h1>@Model.TitlePage</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/ntd">ứng viên</a></li>
            <li class="breadcrumb-item active">Ứng viên A</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
<div class="row">
 <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <!-- Default Tabs -->
             <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified" type="button" role="tab" aria-controls="home" aria-selected="true">Thông tin ứng viên</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                            <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-justified" type="button" role="tab" aria-controls="profile" aria-selected="false">Thông tin ứng tuyển</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-justified" type="button" role="tab" aria-controls="contact" aria-selected="false">Lịch sử hoạt động</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="account-tab" data-bs-toggle="tab" data-bs-target="#account-justified" type="button" role="tab" aria-controls="contact" aria-selected="false">Cài đặt tài khoản</button>
                </li>

              </ul>
              <div class="tab-content pt-2" id="myTabjustifiedContent">
                <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row justify-content-center"> 
                    <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                                @{
                                    var listcolumnInfoWhosePerson = new List<ControlItem>();
                                    listcolumnInfoWhosePerson.Add(new ControlItem()
                                    {
                                        Lable = "Họ", Name = "firstName", Value =  basicInfo.Name
                                    });
                                    listcolumnInfoWhosePerson.Add(new ControlItem()
                                    {
                                    Lable = "Tên",
                                    Name = "lastname",
                                    Value = basicInfo.Name
                                    });
                                    listcolumnInfoWhosePerson.Add(new GenderControl()
                                    {
                                        Lable = "Email",
                                        Name = "Email",
                                    });
                                    listcolumnInfoWhosePerson.Add(new ControlItem()
                                    {
                                    Lable = "Số diện thoại",
                                    Name = "txtphone",
                                        Value = basicInfo.Phone
                                    });
                                    listcolumnInfoWhosePerson.Add(new ControlItem()
                                    {
                                    Lable = "Ngày đăng ký",
                                    Name = "txtphone",
                                      
                                    Value = basicInfo.Phone
                                    });

                                    listcolumnInfoWhosePerson.Add(new ControlItem()
                                    {
                                    Lable = "Ngày xác thực mail",
                                    Name = "txtphone",
                                    Value = basicInfo.Phone
                                    });
                                 }

                                @foreach (var control in listcolumnInfoWhosePerson)
                                {

                                    Html.RenderPartial(control.PathControl, control);

                                }

                                <div class="justify-content-center">
                                    <button type="button"  onclick="updateNTDInfo()" class="btn btn-primary">Cập nhật</button> 
                                </div>
                        </div>
                    </div>
                </div>
                    <input type="hidden" id="idinput" name="custId" value="@Model.IdRequest">
                <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
                        <h6>Lịch sử tương tác</h6>
                       

                </div>
                <div class="tab-pane fade" id="contact-justified" role="tabpanel" aria-labelledby="contact-tab">
                               
   
                    </div>
                    <div class="tab-pane fade " id="account-justified" role="tabpanel" aria-labelledby="account-tab">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                                @{
                                    var listcolumnAccountInfo = new List<ControlItem>();

                                 
                                    listcolumnAccountInfo.Add(new TitleBoxControlItem()
                                    {
                                     Lable = "Thông tin xác thực tài khoản",
              
                                    });

                                       listcolumnAccountInfo.Add(new SelectControl()
                                     {
                                        Lable = "Trạng thái xác thực",
                                        Name = "cbStatusConfirmEmail",
                                        ReadOnly = true,
                                        DataSource = new List<dynamic>() { new
                                            {
                                            id =0, text ="Chưa xác thực",
                                            },
                                            new  {
                                            id =2, text ="Đã xác thực",
                                            }
                                           
                                          },
                                    });
                                    listcolumnAccountInfo.Add(new TitleBoxControlItem()
                                    {
                                        Lable = "Trạng thái tài khoản",

                                    });
              
                                      listcolumnAccountInfo.Add(new SelectControl()
                                     {
                                        Lable = "Khoá tài khoản",
                                        Name = "cbLockAccout",
                                        ReadOnly = true,
                                       
                                        DataSource = new List<dynamic>() { new
                                            {
                                            id =0, text ="Khoá tài khoản",
                                            },
                                            new  {
                                            id =1, text ="Đang hoạt động",
                                            }
                                            

                                            },
                                            });

                                             listcolumnAccountInfo.Add(new SelectControl()
                                     {
                                        Lable = "Lý do khóa tài khoản",
                                        Name = "cbReasonLockAccount",
                                        ReadOnly = true,
                                       
                                            DataSource = new List<dynamic>() { 
                                          
                                            new  {
                                            id =3, text ="TK gian lận",
                                            }
                                            },
                                            });

                                             listcolumnAccountInfo.Add(new ControlItem()
                                        {
                                        Lable = "Lý do, ghi chú",
                                        Name = "txtNoteAccountInfo1",
                                        Value = ""
                                        });

                                     @foreach (var control in listcolumnAccountInfo)
                                    {

                                        Html.RenderPartial(control.PathControl, control);
                                    }
                                    }
                                <br>


                                <div class="justify-content-center">
                                    <button type="button" onclick="updateInformationAccout()" class="btn btn-primary rightButton">Cập nhật</button>
                                     @* <button type="button"  onclick="SendmailActiveAcount()"  class="btn btn-primary rightButton ">Gửi mail kích hoạt tài khoản</button>  *@
                                    <button type="button" onclick="ResetpasswordAcount()" class="btn btn-primary rightButton">Reset mật khẩu</button>
                                </div>
                                <br />
                                <h6>Lịch sử tương tác</h6>
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <table class="table  table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Ngày tác động
                                                    </th>
                                                    <th>
                                                        Trạng thái TK cũ
                                                    </th>
                                                    <th>
                                                        Trạng thái TK mới
                                                    </th>
                                                    <th>
                                                        Trạng thái xác thực cũ
                                                    </th>
                                                    <th>
                                                        Trạng thái xác thực mới
                                                    </th>
                                                    <th>
                                                        Lý dó khóa (nếu có)
                                                    </th>
                                                    <th>
                                                        Ghi chú(nếu có)
                                                    </th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.DataLogAccount as dynamic)
                                                {
                                                    <tr>
                                                        <td>@item.DateTimeCreateText</td>
                                                        <td>@item.OldStatusText</td>
                                                        <td>@item.NewStatusText</td>
                                                        <td>@item.OldConfirmStatusText</td>
                                                        <td>@item.NewConfirmStatusText</td>
                                                        <td>@item.NotedReason</td>
                                                        <td>@item.Noted</td>
                                                    </tr>

                                                }


                                            </tbody>
                                        </table>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                </div>
              </div><!-- End Default Tabs -->

            </div>
          </div>

</div>

</section>

<div class="modal fade" id="formModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content" id="contentModal">
        </div>
    </div>
</div><!-- End Large Modal-->


<script>
     let globledata = @Html.Raw(Json.Serialize( Model.ResultData))
     console.log(globledata);
     function runDataOnLoad() {
         
         document.getElementById("cbStatusDucoment").selectedIndex =-1;
         document.getElementById("cbStatusConfirmEmail").value = globledata.dataBasic.levelAuthen1;
        document.getElementById("cbLockAccout").selectedIndex = -1;
        document.getElementById("cbLockAccout").value = globledata.dataBasic.statusCompany;
        document.getElementById("cbReasonLockAccount").selectedIndex =-1;
        document.getElementById("cbGender").selectedIndex = -1;
        document.getElementById("cbGender").value = globledata.dataBasic.gender;

        document.getElementById("cbStatusReasonStatus").selectedIndex = -1;
        
    }

</script>