

<div class="@Model.Col_Width form-group">
    <label class="form-label"> @Model.Lable </label>
    @{
        var readonlyMode = Model.ReadOnly == true ? "readonly" : "";
    }
    <input type="@Model.TypeInputText" placeholder="@Model.Placeholder" class="form-control"
    name="@Model.Name"
    value="@Model.Value" id="@Model.Name" @readonlyMode placeholder="" />
<div class="invalid-feedback-cs">
</div>

</div>