<form class="row g-3" method="get" action="@Model.NameController">

    <div class="col-md-6">
    <label class="form-label">Từ Ngày</label>
    <input value="@Model.RequestSearch.FromText" type="date" name="from" class="form-control">
    </div>
    <div class="col-md-6">
     <label class="form-label">Đến ngày</label>
    <input value="@Model.RequestSearch.ToText" type="date" name="to" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label">Từ khoá</label>
        <input type="text" value="@Model.RequestSearch.Token" name="token" placeholder="Tên, vị trí" class="form-control">
    </div>

  
    @{
        var authenLevel = new SelectControl()
            {
                Lable ="Công ty",
                DataSource = Model.DataCompnay  as dynamic,
                Name = "cbCompany",
                Value = Model.RequestSearch.CbCompany,
                DisplayAll = true
        };
     
        var statusControl = new SelectControl()
            {
                Lable = "Trạng thái duyệt",
                Name = "cbstatus",
                Value = Model.RequestSearch.CbStatus,
                DataSource = new List<dynamic>() {
                    new
                    {
                    id = -1, text = "Tất cả",
                    },
                    new
                    {
                        id = 0, text = "Đang xét duyệt",
                    },
                    
                    new {
                        id = 2, text = "Đã duyệt",
                    },
                    new {
                        id = 3, text = "Bị từ chối",
                    },
                    new {
                        id = 4, text = "Tin bị khóa",
                    }
             }
            };

        var displayStatus = new SelectControl()
            {
                Lable = "Trạng thái hiển thị",
                Name = "cbDisplay",
                Value = Model.RequestSearch.CbDisplay,
                DataSource = new List<dynamic>() {
    new
    {
    id = -1, text = "Tất cả",
    },
    new
    {
    id = 0, text = "Đang tắt",
    },
    new {
    id = 1, text = "Bật",
    },
    new {
    id = 2, text = "Hết hạn",
    }
    }
            };

        var timeWayOrderBy = new SelectControl()
            {
                Value = Model.RequestSearch.Orderby,
                Lable = "Sắp xếp theo",

                DataSource = new List<dynamic>()
    {
    new
    {
    id = 0,
    text = "thời gian cập nhật gần nhất"
    },
    new
    {
    id = 1,
    text = "thời gian cập nhật xa nhất"
    }
    },
                Name = "Orderby"
            };
        }
    @{
        Html.RenderPartial(statusControl.PathControl, displayStatus);
        Html.RenderPartial(statusControl.PathControl, statusControl);
        Html.RenderPartial(authenLevel.PathControl, authenLevel);
        Html.RenderPartial(timeWayOrderBy.PathControl, timeWayOrderBy);

        

        
       
     }


    <div class="col-md-6" style="display:none">
        <label class="form-label">Limit</label>
        <input type="text" name="limit" value="@Model.RequestSearch.Limit" class="form-control">
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        @* <button type="button" class="btn btn-primary" onclick="openFormCommon(-1,'@Model.NameController')">Thêm mới</button> *@
    </div>
</form>